<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="website Goresto dibuat untuk memenuhi tugas subsmission katalog restoran, yang berisikan referensi restaurant yang dibuat oleh George Isaiah Abiyoso">
  <title>Goresto</title>
</head>
<body>

  <a href="#maincontent" class="skip-link">Menuju ke konten</a>

  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">
        Goresto
      </h1>
    </div>

    <a id="menu" class="header__menu" href="#">☰</a>
    
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://github.com/GeorgeTampan/">About-Us</a></li>
      </ul>
    </nav>
    
  </header>
  
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Go Restaurant</h1>
      <p class="hero__tagline">Go Restaurant ini merupakan sebuah website yang dapat membantu anda untuk mencari referensi restaurant</p>
    </div>
  </div>

  <main id="maincontent">
    <div class="data-list">
      <div class="container-resto">
        <div class="latest">
          <h1 class="latest__label">Daftar Restaurant</h1>
          <div class="posts">

              <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Bring Your Phone Cafe" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Medan</span>
                        <h4>
                          Bring Your Phone Cafe
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Bali</span>
                        <h4>
                          Run The Gun
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Pangsit Express" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Ternate</span>
                        <h4>
                          Pangsit Express
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Ducky Duck" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Malang</span>
                        <h4>
                          Ducky Duck
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Kafein" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Bali</span>
                        <h4>
                          Kafein
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Makan mudah" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Malang</span>
                        <h4>
                          Makan mudah
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Surabaya</span>
                        <h4>
                          Saya Suka
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gigitan Cepat" />
                    </div>
                    <div class="card-body">
                        <span class="tag tag-teal">Aceh</span>
                        <h4>
                          Gigitan Cepat
                        </h4>
                    </div>
              </div>
               <div class="card">
                    <div class="card-header">
                        <img src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Fairy Cafe" />
                    </div>
                    <div class="card-body">
                        <a class="tag tag-teal">Malang</a>
                        <h4>
                          Fairy Cafe
                        </h4>
                    </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </main>

<footer>
  <p>Copyright © 2023 - Goresto Apps</p>
</footer>

</body>
</html>

